In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
anime = pd.read_csv("Datasets/anime.csv")
ratings = pd.read_csv("Datasets/rating.csv")

In [5]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [6]:
print(anime.isnull().sum())

anime_id      0
name          0
genre        62
type         25
episodes      0
rating      230
members       0
dtype: int64

In [7]:
anime.count()

anime_id    12294
name        12294
genre       12232
type        12269
episodes    12294
rating      12064
members     12294
dtype: int64

In [14]:
print(anime[anime['genre'].isnull()])

       anime_id                                               name genre  \
2844      33242          IS: Infinite Stratos 2 - Infinite Wedding   NaN
3541      33589                                      ViVid Strike!   NaN
6040      29765                                  Metropolis (2009)   NaN
6646      32695                                       Match Shoujo   NaN
7018      33187                                   Katsudou Shashin   NaN
...         ...                                                ...   ...
11070     32032                                    Seikaisuru Kado   NaN
11086     34310  Tamagotchi Movie: Tanpen Himitsu no Otodoke Da...   NaN
11097     34474                             Tsukipro The Animation   NaN
11112     33035                                  Yuyushiki Special   NaN
11113     33390                                      Zunda Horizon   NaN

          type episodes  rating  members
2844   Special        1    7.15     6604
3541        TV       12    6.96    12345
6040     Movie        1    6.27      313
6646       ONA        1    6.02      242
7018     Movie        1    5.79      607
...        ...      ...     ...      ...
11070      NaN  Unknown     NaN     1797
11086    Movie        1     NaN       51
11097       TV  Unknown     NaN      843
11112  Special        1     NaN     2294
11113    Movie        1     NaN      160

[62 rows x 7 columns]

In [15]:
print(anime[anime['type'].isnull()])

       anime_id                              name  \
10898     30484                     Steins;Gate 0
10900     34437   Code Geass: Fukkatsu no Lelouch
10906     33352                 Violet Evergarden
10907     33248                  K: Seven Stories
10918     33845                  Free! (Shinsaku)
10949     33475     Busou Shoujo Machiavellianism
10963     31456  Code:Realize: Sousei no Himegimi
10983     34332                     Flying Babies
10988     34280                           Gamers!
10990     34485                        Ganko-chan
10991     32455                           Gekidol
10994     31433       Ginga Eiyuu Densetsu (2017)
10995     28613            Ginga Jinpuu Jinraiger
10998     34279                   Grancrest Senki
11010     33899                          IDOLiSH7
11013     34012                   Isekai Shokudou
11041     30448                       Mirai Arise
11053     34262            Oushitsu Kyoushi Haine
11055     33185   Peace Maker Kurogane (Shinsaku)
11058     24023                        Project758
11062     34348                   Rescue Academia
11070     32032                   Seikaisuru Kado
11101     33478                        UQ Holder!
12252     34382                            Citrus
12259     33654                Hitorijime My Hero

                                                   genre type episodes  \
10898                                   Sci-Fi, Thriller  NaN  Unknown
10900  Action, Drama, Mecha, Military, Sci-Fi, Super ...  NaN  Unknown
10906                                     Drama, Fantasy  NaN  Unknown
10907           Action, Drama, Super Power, Supernatural  NaN  Unknown
10918                                     School, Sports  NaN  Unknown
10949                            Action, School, Shounen  NaN  Unknown
10963                Adventure, Fantasy, Romance, Shoujo  NaN  Unknown
10983                                                NaN  NaN  Unknown
10988                            Comedy, Romance, School  NaN  Unknown
10990                                                NaN  NaN  Unknown
10991                                              Music  NaN  Unknown
10994             Action, Drama, Military, Sci-Fi, Space  NaN  Unknown
10995                           Action, Adventure, Mecha  NaN  Unknown
10998                                    Action, Fantasy  NaN  Unknown
11010                                      Music, Shoujo  NaN  Unknown
11013                           Comedy, Fantasy, Mystery  NaN  Unknown
11041                                             Sci-Fi  NaN  Unknown
11053                        Comedy, Historical, Shounen  NaN  Unknown
11055       Action, Comedy, Historical, Samurai, Shounen  NaN  Unknown
11058                                              Drama  NaN  Unknown
11062                                              Drama  NaN  Unknown
11070                                                NaN  NaN  Unknown
11101            Action, Fantasy, Magic, Sci-Fi, Shounen  NaN  Unknown
12252                       Drama, Romance, School, Yuri  NaN  Unknown
12259                                               Yaoi  NaN  Unknown

       rating  members
10898     NaN    60999
10900     NaN    22748
10906     NaN    20564
10907     NaN    22133
10918     NaN     8666
10949     NaN     1896
10963     NaN     4017
10983     NaN       22
10988     NaN     1045
10990     NaN       11
10991     NaN      586
10994     NaN     3969
10995     NaN      627
10998     NaN      360
11010     NaN     1048
11013     NaN      749
11041     NaN     4044
11053     NaN      321
11055     NaN      939
11058     NaN      455
11062     NaN       65
11070     NaN     1797
11101     NaN     2341
12252     NaN     2459
12259     NaN     1574

In [6]:
ratings.count()

user_id     7813737
anime_id    7813737
rating      7813737
dtype: int64

In [7]:
ratings.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1